:root{
    --Footer-color: white;
}
.Footer{
    background:  linear-gradient(150deg,#FF9966 15%,#FF6062 70%,#FF6062 100%);
}
.Footer small{
    font-size: 12px;
} 
.Footer p{
    font-size: 15px;
    text-align: left;
}
footer hr{
    border-top: 1px solid rgba(255,255,255,.1);
}
.footer-bottom .framework{
    margin: 0 5px;
}